@{
    ViewData["Title"] = "Home Page";
}

 <a asp-controller="Email" asp-action="Index">Email</a>
 <a asp-controller="Person" asp-action="Index">Person</a>
 <a asp-controller="EmailPerson" asp-action="Index">EmailPerson</a>
 
