@{
    ViewData["Title"] = "Home Page";
   
}



<ul>
 @foreach (string controller in ViewBag.controllers) {
               
                <li>@Html.ActionLink(@controller,"Index",@controller.Replace("Controller",""))</li>
       
}
</ul>

 
